:root{
    /* cores principais dos backgrounds */
    --primary-color:#be4c41;
    --secondary-color:#eee8e7;
    font-family: 'Roboto', sans-serif;
}

/* Hero */

.cabecalho{
    height: 70vh;
    position: relative;
    width: 100%;

}

/* Para deixar a imagem esmaecida (opacity) */
.cabecalho::before{
    content: "";
    background-image:url(../imagens/pexels-rfstudio-3060324.jpg);
    background-color: var(--secondary-color);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
}

h1 {
    position: absolute;
    font-size: 3.5em;
    line-height: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    opacity: 0.7;
    margin-top: 1.2em;
    
  }


  /* Menu */

  .containerNav{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }


  .logo-literalma{
    position: relative;
    width: 3em;
    height: 3em;
    padding: 1.5em;
  }

  .fa-bars{
    position: relative;
    display: block;
    padding: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--primary-color);
  }

  .header_nav{
    display: none;
  }

  .header_nav ul{
    position: relative;
    list-style-type: none;
    margin-right: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: end;
    
}

.header_nav a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}



/* Telas maiores */

@media screen and (min-width: 57em) {

    /* Maior que 912px */

    .logo-literalma{
        margin-left: 2em;
        width: 3em;
        height: 3em;
    }

    /* Menu */

    .header_nav{
        position: absolute;
        /* Position absolute para ficar na mesma altura da logo */
        top: 0;
        right: 0;
        display: flex;
        justify-content: end;
        margin-top: 1em;
    }
    
    .header_nav ul{
        font-size: 1.3em;
        margin: 0;
        padding: 0;
        
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{  
        padding: 1.5em;
        
    }

    .header_nav a:hover{
        opacity: 0.8;
        text-decoration-line: underline;
        text-decoration-style: dashed;
        text-decoration-color: var(--primary-color);
    }

    /* Esconde menu hambúrguer em telas maiores */


    #hamburguer{
        display: none;
    }

    h1{
        position: initial;
        font-size: 7em;
        margin-top: 2em;
        opacity: 0.95;
    }

}

/* Área dos cards */

.redContainer{
    background-color: var(--primary-color);
}


.cardsh2{
    margin: 0;
    /* margin zero para evitar espaçamento entre header e main */
    padding: 3em 1em;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.8em;
}

/* Display flex no container do button para centralizar */

.buttonContainer{
    display: flex;
    justify-content: center;
}

/* Configurações do botão */
.button{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5em 8em;
    border-radius: 0.3em;
}

section h3{
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    padding: 1.5em;
}

/* Container dos cards */

.cardInicial{
    display: flex;
    flex-direction: column;
    /* direction column para os itens ficarem abaixo */
    align-items: center;
}

section h4{
    color: white;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
}

article p{
    color: white;
    font-size: small;
    padding-bottom: 3em;
}

/* ajustes dos tamanhos das imagens dos cards*/

article img{
    width: 90%;
    height: auto;
}

/* Section encontros online + vídeo */

.lightContainer{
    background-color: var(--secondary-color);
}

.videoh2{
    margin: 0;
    /* margin 0 para tirar espaçamento entre as sections */
    padding: 3em 1em;
    text-align: center;
    color: black;
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.8em;
}

/* configurações da imagem encontros online*/

/* display flex para centralizar */
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img{
    width: 90vw;
    height: auto;
}

figcaption{
    margin-top: 1.5em;
    font-size: small;
    text-align: center;
}

/* ajustes do vídeo */

/* display flex para centralizar */
.videoContainer{
    display: flex;
    justify-content: center;
}

/* dimensões do vídeo */
iframe{
    width: 90%;
    height: 30vh;
}

.videoParagrafo{
    padding: 3em 1em;
    text-align: center;
    opacity: 0.7;
    font-size: 1.2em;
    margin-bottom: 0;
    /* margin bottom 0 para evitar distância abaixo */
}

/* section esperamos por você */

.esperamosh2{
    background-color: var(--primary-color);
    margin: 0;
    padding: 1.5em 1em;
    color: white;
    font-weight: 200;
    font-size: 1.8em;
    text-align: center;
}

/* ajustes da imagem esperamos */

.esperamosImgContainer{
    display: flex;
    justify-content: center;
}

.esperamosImg{
    width: 90vw;
    height: auto;
    padding: 2em;
}

/* configurações do footer */

footer{
    background-color: var(--primary-color);
    padding: 2em;
    text-align: center;
    color: white;
    font-size: small;
}


/* Telas maiores - página inicial */

@media screen and (min-width: 57em) {

    /* Maior que 912px */

    .cardsh2{
        font-size: 2.5em;
        margin: 0 8em;
    }

    .button{
        font-size: 1.2em;
    }

    section h3{
        font-size: 1.8em;
    }

    /* imagens dos cards */

    article img{
        width: 80%;
        height: 70%;
    }

    /* container flexbox */

    .cardsContainer{
        display: flex;
        justify-content: center;
        
    }

    section h4{
        font-size: 1.5em;
    }

    /* Area dos encontros */

    .videoh2{
        font-size: 2.5em;
    }

    /* ajuste da imagem do encontro */

    figure img{
        width: 45vw;
        height: auto;
    }

    /* dimensões do vídeo */
    iframe{
        width: 40%;
        height: 50vh;
    }

    /* Área do "esperamos" */

    .esperamosh2{
        font-size: 2.5em;
    }

    .esperamosImg{
        width: 40vw;
        height: auto;
        padding: 2em;
    }
}

/* Página Leituras */

/* ajuste do h2 */
.leiturash2{
    background-color: var(--secondary-color);
    margin: 0;
    padding: 1em;
    font-weight: 300;
    color: black;
    opacity: 0.7;
    text-align: center;
}

/* seletor do section para background color */

section{
    background-color: var(--primary-color);
    padding: 3em 0;
}

.cardLivros{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.cardLivros img{
    width: 100%;
}

.cardLivros h3{
    margin: 0;
    font-weight: 300;
}

.cardLivros p{
    text-align: center;
    font-size: 1em;
    padding: 0;
}

/* Telas maiores - página de leituras */

@media screen and (min-width: 57em) {
    /* Maior que 912px */

    /* Aumentar h2 */
    .leiturash2{
        font-size: 2.3em;
    }

    /* container flexbox */
    .leiturasContainer{
        display: flex;
        justify-content: center;
        margin: 2em 10em;
        flex-wrap: wrap;
    }

    /* ajuste do article para altura geral */

    .leiturasContainer article{
        width: 20em;
        height: 70vh;
        max-height: 80%;
    }

    .cardLivros{
        width: 20%;
        box-sizing: border-box;
    }

    /* ajuste do h3 para melhor visualização */
    .cardLivros h3{
        margin-top: 1em;
        padding: 0;
        font-size: 1.5em;
    }

}

/* Area encontro Bienal */

.encontroSection{
    background-color: var(--secondary-color);
}

.encontroh2{
    background-color: var(--primary-color);
    margin: 0;
    padding: 1.5em;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 1.7em;
}

.encontroSection p{
    font-size: 1.3em;
    margin: 1.5em;
    font-weight: 300;
}

.mapaFotos img{
    width: 80%;
    height: auto;
    margin: 2em;
}

.mapa iframe{
    margin: 1em;
}